<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Builder Version</key>
	<string>12602.2.14.0.7</string>
	<key>CFBundleDisplayName</key>
	<string>bili-pip</string>
	<key>CFBundleIdentifier</key>
	<string>com.rungo.bili-pip</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>PIP.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>http://*.bilibili.com/video/*</string>
			<string>http://bangumi.bilibili.com/anime/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>bilibili开启画中画</string>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<false/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
</dict>
</plist>
